---
const date = new Date()
---

<footer class="bg-light-overlay py-size-sm">
  <div class="wrapper">
    <p class="text-center">
      <small
        >Copyright &copy; {date.getFullYear()} Katina Wilson. All rights reserved.</small
      >
    </p>
  </div>
</footer>
